@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700,800);

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

body {
    height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}

.wrapper {
    max-width: 1470px;
    background-color: #fff;
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    padding: 0 15px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    height: 167px;
    padding: 24px 0 87px;
}

.header__inner,
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn,
.footer__btn {
    width: 167px;
    height: 56px;
    background: #13183F;
    border-radius: 28px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.header__btn:active {
    background: #666CA3;
}

.main {
    flex-grow: 1;
}

.info__inner {
    display: flex;
}

.info__left {
    padding: 85px 228px 226px 0;
    max-width: 685px;
}

.left__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
    margin-bottom: 29px;
}

.left__text {
    max-width: 445px;
    margin-bottom: 40px;
}

.left__btn {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    width: 167px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
}

.left__btn:active {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.right__inner {
    position: relative;
    width: 317px;
    height: 560px;
}

.right__line {
    position: absolute;
    width: 536px;
    height: 725px;
    background-image: url(../image/line.png);
    bottom: 0;
}

.right__girl {
    width: 317px;
    height: 560px;
    background-image: url(../image/girl.png), url(../image/bg-girl.png);
    position: absolute;
}

.right__cards {
    position: absolute;
    padding: 20px 24px 19px;
    background: #FFFFFF;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    height: 120px;
}

.card__left {
    width: 199px;
    bottom: 98px;
    left: -120px;
}

.cards__title {
    font-weight: 700;
    font-style: 16px;
    margin-bottom: 2px;
}

.cards_quant {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
}

.card__right {
    width: 155px;
    right: -118px;
    top: 103px;
}

.courses {
    min-height: 888px;
    padding-top: 24px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.corses__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.corses__card {
    width: 350px;
    height: 322px;
    margin-bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    padding: 64px 32px;
    position: relative;
}

.first-card {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;
}

.first-card-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.card___inner {
    display: flex;
    flex-direction: column;
    min-height: 218px;
    justify-content: space-between;
}

.card__icon {
    width: 56px;
    height: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 32px;
    top: -24px;
}

.card__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
}

.card__btn {
    font-weight: 700;
    color: #F74780;
}

.card__btn:active {
    color: #FFA7C3;
}

.footer {
    min-height: 120px;
    padding: 32px 0;
    background: #13183F;
}

.footer__btn {
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.footer__btn:active {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}